<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>itemData</servlet-name>
        <servlet-class>itemData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPrice</servlet-name>
        <servlet-class>getPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartTable</servlet-name>
        <servlet-class>cartTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCart</servlet-name>
        <servlet-class>deleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCart</servlet-name>
        <servlet-class>showCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeItem</servlet-name>
        <servlet-class>removeItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMsg</servlet-name>
        <servlet-class>sendMsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serachItem</servlet-name>
        <servlet-class>serachItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userSearch</servlet-name>
        <servlet-class>userSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfile</servlet-name>
        <servlet-class>updateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateGraph</servlet-name>
        <servlet-class>GenerateGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getName</servlet-name>
        <servlet-class>getName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>itemData</servlet-name>
        <url-pattern>/itemData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPrice</servlet-name>
        <url-pattern>/getPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartTable</servlet-name>
        <url-pattern>/cartTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCart</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCart</servlet-name>
        <url-pattern>/showCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeItem</servlet-name>
        <url-pattern>/removeItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMsg</servlet-name>
        <url-pattern>/sendMsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serachItem</servlet-name>
        <url-pattern>/serachItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userSearch</servlet-name>
        <url-pattern>/userSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfile</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateGraph</servlet-name>
        <url-pattern>/GenerateGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getName</servlet-name>
        <url-pattern>/getName</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
